.developer{
    padding: 1rem;
    background-color: black;
    color: white;
    text-align: center;
}

.developer p{
    line-height: 1.5rem;
}

.developer p a{
    font-weight: bold;
    color: rgb(61, 33, 131);
    text-decoration: none;
}

.developer p a:hover{
    color: rgb(69, 63, 148);
}