.about{
    min-height: 100vh;
    padding: 5.5rem 2rem 2rem 2rem;
}

.about h1{
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    padding: 0 0 1rem 0;
}

.about p{
    text-align: justify;
}