.about{
    padding: 5.5rem 2rem 2rem 2rem;
    min-height: 100vh;
}

.about h1{
    text-decoration: underline;
    text-align: center;
    color: green;
}

.about h3{
    text-decoration: underline;
}

.about p{
    text-align: justify;
}

.about p span{
    font-weight: bold;
}