.navbars {
  /* background-color: #282c34; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  background-color: #320d96;
  color: #fff;
  padding: 11px 0;
  position: fixed;
  width: 100%;
  top: 22px;
  z-index: 1000;
}

.navbars .menu-line-two{
  background-color: rgb(230, 230, 15);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-container a{
  display: flex;
  user-select: none;
  text-decoration: none;
}
  
.navbar-container img{
  width: 40px;
  margin: 0 1rem 0 0;
}  

.logo {
  font-size: 1.5rem;
  margin: 0.25rem 0 0 0;
  color: white;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon.open .menu-line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-icon.open .menu-line:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .menu-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: transform 0.3s ease, opacity 0.2s ease;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #6148d3;
  border-radius: 5px;
}

/* Media Query for Responsive Design */
@media(max-width: 879px){
  .navbar-container img{
    width: 40px;
  }
  .logo{
    font-size: 17px;
  }
}
@media(max-width: 310px){
  .logo{
    font-size: 12spx;
  }
}

@media(max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 0;
    /* background-color: #282c34; */
    background-color: #320d96;
    width: 100%;
    max-height: ${isOpen ? '100vh' : '0'};
    overflow: hidden;
    transition: max-width: 0.3s ease;
  }

  .nav-menu.open {
    max-height: 300px;
  }

  .nav-menu.hide{
    display: none;
  }
  .nav-item {
    margin: 10px 0;
  }

  .nav-link {
    padding: 10px 20px;
  }

  /* .logo{
    display: none;
  } */
}
