.notfound{
    min-height: 100vh;
    padding: 5rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notfound span{
    color: rgb(138, 135, 135);
}

.notfound div a{
    margin: 1.5% 25%;
    text-decoration: underline;
}