.social-media{
    z-index: 11000;
    color: white;
    position: fixed;
    top: 50%;
    overflow: hidden;
    transition: all 1s ease;
    /* width: 50px; */
}

.social-slide-icon:first-child{
    background-color: black;
    width: 40px;
    padding: 5px;
}

.social-slide-icon:first-child:hover{
    background-color: rgb(49, 49, 53);
}

.social-slide-icon:first-child button{
    font-size: 25px;
    color: green;
}

.social-slide-icon{
    width: 40px;
    background-color: green;
    padding: 0px 5px 0px 5px;
    transition: all .5s ease;
}

.social-change{
    transition: all .5s ease;
    width: 0px;
    background-color: none;
}

.social-slide-icon:hover{
    background-color: rgb(4, 61, 4);
}

.social-media a{
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
}

.social-media a:hover{
    color: #61dafb;
}