.teachers{
    min-height: 100vh;
    padding: 7rem 2rem 2rem 2rem;
}

.teachers table{
    margin: 0 auto;
}

.teachers .tp{
    padding: 5px;
}

.teachers th,
.teachers td{
    border: 1px solid black;
}

.teachers img{
    width: 150px;
    height: 150px;
    /* border: 1px solid red; */
    /* box-shadow: 0 0 10px 1px black; */
}