*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% );
  color: white; */
}